<?php
$host="localhost";
$user="root";
$pass="";

// $dbname=__DIR__."/phprbac.sqlite3";
// $dbname="phprbac";
$dbname="ie332group11";

// $adapter="pdo_sqlite";
$adapter="pdo_mysql";
// $adapter="mysqli";

$tablePrefix = "phprbac_";

//<?php
//$host="mydb.itap.purdue.edu";
//$user="g1090432";
//$pass="@Capacity332";

//// $dbname=__DIR__."/phprbac.sqlite3";
//// $dbname="phprbac";
//$dbname="g1090432";

//// $adapter="pdo_sqlite";
//$adapter="pdo_mysql";
//// $adapter="mysqli";

//$tablePrefix = "phprbac_";
